<% if notice %>
  <div class="bg-green-500 text-white text-center text-sm py-2 px-4 w-full">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="bg-red-500 text-white text-center text-sm py-2 px-4 w-full">
    <%= alert %>
  </div>
<% end %>